@{
    ViewData["Title"] = "Home Page";
}
<div class="wrapper">
    <img src="~/images/comingsoon.jpg" />
</div>

@section EndBody{ 
    <script type="text/javascript">
        var $width = screen.width;
        document.body.style.width = $width + "px";
    </script>
}