@{
    ViewData["Title"] = "Home Page";
}
<div class="wrapper">
    <div>
        <img src="~/images/comingsoon.jpg" alt="오픈 예정중입니다." class="responsive" align="middle"/>
    </div>
</div>
@section EndBody{
    <script type="text/javascript">
        window.onload = function () {
            var $width = screen.width;
            var _height = screen.height - 30;
            document.body.style.width = $width + "px";
            document.querySelector(".wrapper > div").style.height = _height + "px";
        }
    </script>
}